<app-alerts></app-alerts>
<form class="emp-form" #proform="ngForm" 
(ngSubmit)="onSubmit(proform)">
  <div class="form-row">
  
    <input class="form-control" name="ProjectTitle" 
    #ProjectTitle="ngModel" 
    [(ngModel)] = "proj.ProjectTitle" 
    placeholder="Project Title"
    title="Project Title" required/>
  
  </div>
  <div class="form-row">
  <div class="form-group">
    <div class="form-group col-md-4">
      <input class="form-control" name="chkSet" type="checkbox"
   (change)="EditForm($event)" 
   title="set Project details"
   [(ngModel)]="!proj.editmode">
   set Project details
    </div>
    <div class="form-group col-md-4">
      Start Date
        <input class="form-control" name="StartDate" type="datetime" 
        #StartDate="ngModel" 
        [(ngModel)] = "proj.StartDate" 
        placeholder="Start Date" title="Start Date" 
        [disabled]="proj.editmode"/>
      </div>
      <div class="form-group col-md-4">
        End Date
          <input class="form-control" name="EndDate" type="datetime" 
        #EndDate="ngModel" 
        [(ngModel)] = "proj.EndDate" 
        placeholder="End Date" title="End Date" 
        [disabled]="proj.editmode"/>
        </div>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <input type="range" name="PriorityInput"
      min="0" max="30" value="0"
      oninput="this.form.Priority.value=this.value" 
      class="custom-range"
      [(ngModel)] = "proj.Priority"
      [disabled]="proj.editmode"/>
      </div>
      <div class="form-group col-md-2">
          Priority
           </div>
      <div class="form-group col-md-2">
 <input class="form-control"   
      #Priority="ngModel" min="0" max="30" type="number"
       [(ngModel)] = "proj.Priority"
       name="Priority"
       oninput="this.form.PriorityInput.value=this.value;" 
       [disabled]="proj.editmode" title="Priority"
       placeholder="Priority"  />
       </div>
       
      </div>
      <div class="form-row">
  <div class="form-group col-md-11">
      <p-autoComplete id="UsersList"
      [suggestions]="results" 
      (completeMethod)="search($event)" name="ManagerName"
      (onselect)="onUserSelected($event)" 
      [(ngModel)] = "proj.ManagerName"
      [disabled]="proj.editmode" 
      placeholder="Manager First Name.."
      title="Manager First Name.."></p-autoComplete>
      
          </div>
        </div>
  <div class="form-row">
  <div class="form-group col-md-8">
  <button type="button" class="btn btn-lg btn-block btn-info"
   (click)="onSubmit(proj,proform)" [(ngModel)] = "proj.savetype"
   [ngModelOptions]="{standalone: true}" ngDefaultControl 
   [disabled]="!proform.valid"
   >{{proj.savetype}}</button>
  </div>
  <div class="form-group col-md-4">
      <button type="button" 
      class="btn btn-lg btn-block btn-secondary" (click)="resetForm(proform)">Reset</button>
    </div>
  </div>
  </form>
